/*
Theme Name:     Future Child
Theme URI:      http://simonepozzobon.com/
Description:    child del tema principale
Author:         Simone Pozzobon
Author URI:     http://simonepozzobon.com/
Template:       future
Version:        0.1.0
*/
