.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-center {
  text-align: center;
}

.bg-light {
  background-color: #f3f3f3;
}

.jumbo {
  padding: 5rem;
}

.w-100 {
  width: 100%;
}

a,
a:active,
a:link,
a:visited {
  color: #E21D2B;
  text-decoration: none;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover,
a:active:hover,
a:link:hover,
a:visited:hover {
  color: #C2182C;
  text-decoration: underline;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.navbar-custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 80px;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-custom-btn > a.btn-custom {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.navbar-custom-btn > a.btn-custom:hover {
  background-color: #fff;
  color: #E21D2B;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.big-title {
  width: 100%;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-title > h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.feat-post {
  padding-bottom: 5rem;
}

.feat-post .feat-title {
  text-transform: uppercase;
}

.feat-post .feat-subtitle {
  padding-right: 2rem;
  color: #333333;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.feat-post .feat-subtitle:hover {
  color: #E21D2B;
  text-decoration: underline;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.feat-post .feat-subtitle > h3 {
  line-height: 1.5;
}

.feat-post .avatar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.feat-post .avatar-wrapper > .avatar-container {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #E21D2B;
}

.feat-post .avatar-wrapper > .avatar-container > img {
  width: 100%;
  height: 100%;
}

.feat-post .author-name {
  color: #666;
  font-style: italic;
}

.feat-post .author-name > span {
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
}

.feat-post .feat-date {
  color: #999;
}

.link-description-page {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #C2182C;
}

.link-description-page > .col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-description-page > .col > .link > a,
.link-description-page > .col > .link a:active,
.link-description-page > .col > .link a:link,
.link-description-page > .col > .link a:visited {
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.link-description-page > .col > .link > a:hover,
.link-description-page > .col > .link a:active:hover,
.link-description-page > .col > .link a:link:hover,
.link-description-page > .col > .link a:visited:hover {
  color: #f3f3f3;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.post-loop {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10rem;
  background-color: #f3f3f3;
}

.post {
  padding: 2rem;
  padding-bottom: 5rem;
}

.post .post-title > a :hover {
  color: #333333;
  text-decoration: underline;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.post .post-title > a > h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.post .post-subtitle > h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.post .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.post .post-author {
  color: #666;
  font-style: italic;
}

.post .post-author > span {
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
}

.post .post-date {
  color: #999;
  padding-bottom: 1rem;
}

.post .post-cat {
  padding-top: 1rem;
}

.post .post-excerpt {
  padding-top: 1rem;
}

.post .post-excerpt > p {
  line-height: 1.618;
}

.post .post-excerpt > p > .entry-more-link-wrapper {
  display: none;
}

